.sections-container .fourth-section .fourth-section-title{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 100px;
}


.sections-container .fourth-section{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 1000px;
}

.fourth-section .fourth-v-txt-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5%;
    padding: 0;
    margin: 0;
  
}

.fourth-section .fourth-v-txt-container .content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.fourth-section .fourth-v-txt-container .content-container .title{
    margin-bottom: -25px;
    margin-top: 6px;
    font-size: 30px;
}

.fourth-section .fourth-v-txt-container .content-container .title a{
    color: #EA4335;
    text-decoration: none;
    
}

.fourth-section .fourth-v-txt-container .content-container .sub-title{
    font-size: 18px;
    color: rgb(8, 50, 166);
    margin-bottom: 10px;
    
}

.fourth-section .fourth-v-txt-container .content-container .description{
    font-size: 18px;
    text-indent: 10%;
    line-height: 1.5em;
}

.fourth-section .fourth-v-txt-container .content-container .description span{
    text-indent: 10%;
}









@media (max-width: 600px){
    .sections-container .fourth-section .fourth-section-title{
        font-size: 25px;
        font-weight: bold;
    }

    .fourth-section{
        width: 100%;
        
        overflow: hidden;
    }

    .fourth-section .fourth-v-txt-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:0px;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .fourth-section .fourth-v-txt-container .video-from-facebook{
        width: 95%;
    }


    

    .fourth-section .fourth-v-txt-container .content-container .title{
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .fourth-section .fourth-v-txt-container .content-container .sub-title{
        font-size: 15px;
        color: rgb(8, 50, 166);
        margin-bottom: 10px;
        margin-top: 0;
    }
    
}