.image-background{
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.39)),url('https://github.com/clydeador123545/pna/blob/main/images/background-home.jpg?raw=true');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    z-index: -100;
}

@media (max-width: 600px){
    .home-container .image-background{
        
        height: 100vh;
        width: 100%;
        background-position:center;
        background-size: cover;
        background-position: center center, center right -500px;
        
        
    }

    
}

/* top: 0;
    left: 0;
    right: 0; */
