.contact-container{
    background-color: rgb(243, 204, 204);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    

}

.contact-container .container-input{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 800px;
    padding: 50px 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.361);
    background-color: white;
    position: relative;
    margin-left: 80px;
}

.contact-container .container-input .title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 60%;
}

.contact-container .container-input .title-container h1{
    font-family: Roboto;
    color: rgb(2, 2, 170);   
    margin-bottom:0 ;
}

.contact-container .container-input .title-container p{
    color: gray;
    margin-top: 0;

}

.contact-container .container-input .form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 20px;
    width: 60%;
    height: 400px;
    gap: 5%;
}


.contact-container .container-input .form-container .yourname-container,
.contact-container .container-input .form-container .youremail-container,
.contact-container .container-input .form-container .message-container{
    position: relative;
    width: 75%;
    height: 60px;
}

.contact-container .container-input .form-container .message-container{
    height: 100px;
    margin-bottom: 50px;
}

.contact-container .container-input .form-container input,
.contact-container .container-input .form-container textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 243, 246);
    padding-left: 20px;
}

.contact-container .container-input .form-container textarea{
    resize:none ;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow-y: scroll;
}


.contact-container .container-input .form-container label{
    position: absolute;
    top: 51%;
    transform: translate(-50%, -50%);
    left: 60px;
    color: rgba(128, 128, 128, 0.564);
    font-family: Roboto;
}

.contact-container .container-input .form-container label:hover{
    color: rgb(128, 128, 128)
}


.contact-container .container-input .form-container .message-container .message{
    top: 30px;
    left: 115px;
    
}





@media (max-width:600px){
    .contact-container .container-input{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        padding: 50px 50px;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.361);
        background-color: white;
        position: relative;
        margin-left: 0;
    }
}



/* button */
.contact-container .container-input .form-container .send-button{
    background-color: rgb(239, 30, 30);
    height:55px;
    width: 150px;
    color: white;
    font-family: Roboto;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.contact-container .container-input .form-container .send-button:hover{
    opacity: 0.7;
}

.contact-container .container-input .form-container .send-button:active{
    opacity: 0.5;
}



/* side container */
.contact-container .container-input .side-container{
    position: absolute;
    width: 325px;
    height: 450px;
    background-color: rgb(239, 30, 30);
    left: -12.5%;
    display: flex;
    padding: 20px 50px;
    box-shadow: 0 0 30px rgba(7, 7, 7, 0.588);
}

.contact-container .container-input .side-container .informations h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.contact-container .container-input .side-container .informations p{
    color: white;

}