.contact-container{
    background-color: rgba(0, 0, 0, 0.512);
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -100;
    
}

.contact-container .background-img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('https://scontent.fmnl17-1.fna.fbcdn.net/v/t39.30808-6/461939781_122140439456318427_3252228636773585824_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeHNUYHAT5PXELrSYOjS0PGPvGBDjBJg3A-8YEOMEmDcD2m-5JTDv3d7yUm6Xuno4i2E6VHMqTx3Ax14JQGX9vTc&_nc_ohc=sfK4FHvfPJ4Q7kNvgHl1UTj&_nc_ht=scontent.fmnl17-1.fna&_nc_gid=ANqaaWeQWQ2d8BK04Gj3EVo&oh=00_AYCF8MZhf9pqTFMT37tzie6BiBPM3_ufTbXsUqbOgr-dCg&oe=672037BC');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    /* filter: blur(5px);
    opacity: 0.5; */
}

.contact-container .container-input{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    max-width: 700px;
    height: 500px;
    padding: 20px 50px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.361);
    background-color: rgba(0, 0, 0, 0.143);
    position: relative;
    margin-left: 80px;
    backdrop-filter: blur(10px) opacity(1);
    -webkit-backdrop-filter: blur(10px) opacity(1);
    
    border: 2px solid white;
    border-radius: 10px;
}

.contact-container .container-input .title-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    width: 55%;
    margin-top: 0;
    margin-bottom: 0;
   
}

.contact-container .container-input .title-container h1{
    font-family: Roboto;
    color: rgb(251, 238, 0);   
    margin-bottom:0 ;
}

.contact-container .container-input .title-container p{
    color: rgb(210, 210, 210);
    margin-top: 0;

}

.contact-container .container-input .form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0px;
    
    width: 55%;
    height: 400px;
    
    gap: 8%;
}


.contact-container .container-input .form-container .yourname-container,
.contact-container .container-input .form-container .youremail-container,
.contact-container .container-input .form-container .message-container{
    position: relative;
    width: 85%;
    height: 50px;
}

.contact-container .container-input .form-container .message-container{
    height: 100px;
    margin-bottom: 30px;
}

.contact-container .container-input .form-container input,
.contact-container .container-input .form-container textarea{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 243, 246);
    padding-left: 20px;
}

.contact-container .container-input .form-container textarea{
    resize:none ;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow-y: scroll;
    
}


.contact-container .container-input .form-container label{
    position: absolute;
    top: 51%;
    transform: translate(-50%, -50%);
    left: 60px;
    color: rgba(128, 128, 128, 0.564);
    font-family: Roboto;
    font-size: 16px;
}

.contact-container .container-input .form-container label:hover{
    color: rgb(128, 128, 128)
}


.contact-container .container-input .form-container .message-container .message{
    top: 30px;
    left: 115px;
    
}






@media (max-width:600px){

    .contact-container{
        background-color:white;
        width: 100%;
        position: relative;
        top: unset;
        padding: 75px 0px;
        bottom: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index:-100;
    }

    .contact-container .container-input{
        flex: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: unset;
        width: 75%;
        height:auto;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.311);
        position: relative;
        margin-left: 0;
        margin-top: 50px;
        border: 2px solid white;
    }

    .contact-container .background-img{
        position: absolute;
        top: 60px;
        bottom: unset;
        height: 30%;
        left: 0;
        right: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        opacity: 0.9;
        
    }

    .contact-container .container-input .form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        width:80%;
        height: 400px;
        column-gap: 10%;
        z-index: 0;
       
        
    }

    .contact-container .container-input .title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        width: 90%;
        margin-top: 20px;
        margin-bottom: 0px;
        
    }

    .contact-container .container-input .title-container h1{
        font-size: 25px;
        text-align: center;
    }

    .contact-container .container-input .title-container p {
        font-size: 15px;
        text-align: center;
    }

    .contact-container .container-input .form-container .yourname-container,
    .contact-container .container-input .form-container .youremail-container,
    .contact-container .container-input .form-container .message-container{
        position: relative;
        width: 100%;
        height: 50px;
        
    }

    .contact-container .container-input .form-container input,
    .contact-container .container-input .form-container textarea{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 10px;
        background-color: rgb(240, 243, 246);
        padding-left: unset;
    }
}



/* button */
.contact-container .container-input .form-container .send-button{
    background-color: rgb(239, 30, 30);
    height:45px;
    width: 120px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.contact-container .container-input .form-container .send-button:hover{
    opacity: 0.7;
}

.contact-container .container-input .form-container .send-button:active{
    opacity: 0.5;
}



/* side container */
.contact-container .container-input .side-container{
    position: absolute;
    width: 35%;
    height: 400px;
    background-color: rgb(239, 30, 30);
    left: -12.5%;
    display: flex;
    padding: 20px 50px;
    box-shadow: 0 0 30px rgba(7, 7, 7, 0.588);
}

.contact-container .container-input .side-container .informations h1{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.contact-container .container-input .side-container .informations p{
    color: white;

}



.contact-container .container-input .side-container img{
    height: 45%;
    
    margin-right: 20px;
    object-fit: cover;
}

.contact-container .container-input .side-container .informations div p{
    font-size: 15px;
}

.contact-container .container-input .side-container .informations div{
    display: flex;
    align-items: center;
    margin: 10% 0;
    height: 20%;
}


@media (max-width:600px){
    

    .contact-container .container-input .side-container{
        position: unset;
        width: 100%;
        height: 400px;
        
        background-color: rgb(239, 30, 30);
        left: unset;
        display: flex;
        padding: 0;
        box-shadow: 0 0 30px rgba(7, 7, 7, 0.588);
    }

    .contact-container .container-input .side-container .informations{
        
    }
}