<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/header.css">
    <title>Document</title>
</head>
<body>
    <header>
        <ul class="button-holder">
            <li class="home">Home</li>
            <li class="about">About</li>
            <li class="contact">Contact</li>
        </ul>
        <div class="navbar-container">
            <div class="navBar"></div>
            <div class="navBar"></div>
            <div class="navBar"></div>
            <div class="buttons-container">
                <div class="triangle"></div>
                <div class="home">Home</div>
                <div class="about">About</div>
                <div class="contact">Contact</div>
            </div>
        </div>
        
    </header>
    
</body>
</html>